*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: ;
    --color-success: ;
    --color-warning: ;
    --color-danger: ;
    --color-danger-variant: ;
    --color-white: ;
    --color-light: ;
    --color-black: ;
    --color-bg: ;
    --color-bg1: ;
    --color-bg2: ;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transation: all 400ms ease;
}