* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #;
    --color-danger: ;
    --color-danger-variant: ;
    --color-white: white;
    --color-light: ;
    --color-black: #181818; 
    --color-bg: #181818;
    --color-bg1: ;
    --color-bg2: ;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transation: all 400ms ease;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background-color: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
}

h1{
    font-size: 1.2rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transation);
}

.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}

/*----------------------------- NAVBAR -----------------------------*/

nav{
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a{
    font-size: 0.9rem;
    transition: var(--transation);
}

.nav__menu a:hover{
    color: var(--color-black);
}

/*----------------------------- HEADER -----------------------------*/

header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header__left p{
    margin: 1rem 0 2.4rem;
}

/*----------------------------- Category -----------------------------*/

.categories{
    background: var(--color-primary);
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
    
}

.categories__container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 3rem;
}

.categories__left p{
    margin: 1rem 0 3rem;
}

.categories__right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.category{
    background: var(--color-black);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transation);
}